.lists-wrapper {
  display: flex;
  flex-direction: row;
}

.list-container {
  background-color: peru;
  border-radius: 3px;
  width: 300px;
  padding: 8px;
  margin: 0;
  color: white;
  margin-right: 8px;
  height: 100%;
}

.list-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-action-button-container {
  opacity: 0.5;
  color: inherit;
  width: 20px;
  cursor: pointer;
  height: 50px;
}

.action-icon {
  font-size:  1.2rem !important;
}

.card-conatiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px;
  padding: 8px;
  color: black;
  margin-bottom: 8px;
}

.action-button-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  height: 36px;
  width: 272px;
  padding-left: 10px;
}

.textarea {
  resize: none;
  width: 295px;
  height: 80px !important;
  overflow: hidden;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
}

.add-button-container {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.add-button {
  color: white;
  background-color: olive;
  border: 0;
  height: 30px;
  width: 100px;
  border-radius: 3px;
  margin-right: 5px;
}