.App {
  padding: 0 30px;
}

.section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  border: 1px wheat solid;
  border-radius: 10px;
  background-color: wheat;
  margin-right: 25px;
  text-align: center;
  width: 300px;
}

.card {
  padding: 25px;
  display: flex;
}

.card span {
  flex-grow: 1;
  text-align: center;
}

.add-column-btn {
  background-color: sandybrown;
  color: white;
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
}
